<div class="page__footer-follow">
  <ul class="social-icons">
    <li><a href="https://mastodon.social/@maxkasy"><i class="fab fa-fw fa-mastodon" aria-hidden="true"></i> Mastodon</a></li>  <ul class="social-icons"></ul>
    <li><a href="https://bsky.app/profile/maxkasy.bsky.social"><i class="fab fa-fw fa-bluesky" aria-hidden="true"></i> Bluesky</a></li>
	  <li><a href="https://twitter.com/maxkasy"><i class="fab fa-fw fa-twitter-square" aria-hidden="true"></i> Twitter</a></li>
  </ul>
</div>

<div class="page__footer-copyright">&copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}.</div>
