---
layout: archive
---


<p><a href="/home/files/kasycv.pdf">Curriculum Vitae</a></p>

I am a Professor of Economics at the University of Oxford.
<hr>

My research interests include:
<ul>
  <li> Machine learning theory; the social impact of algorithmic decision making  </li>
  <li> Publication bias, pre-analysis plans, and statistics as a social process</li> 
  <li> Adaptive experimental design </li>
  <li> Statistical decision theory </li>
  <li> Empirical Bayes methods </li>
  <li> Identification and causality </li>
  <li> Economic inequality and (optimal) taxation. </li> 
</ul>



<p>I coordinate the <a href="/home/ML_Econ_Oxford/">Machine Learning and Economics Group</a> at Oxford.</p>

<p>Forthcoming conference, May 20-22 2024: <a href="/home/economics_of_science_workshop/">Economic Analyses of Science</a> at Oxford.</p>

