---
layout: archive
---


<p><a href="/home/files/kasycv.pdf">Curriculum Vitae</a></p>

I am a Professor of Economics at the University of Oxford.
<hr>

My research interests include:
<ul>
  <li> Machine learning theory; the social impact of algorithmic decision making  </li>
  <li> Publication bias, pre-analysis plans, and statistics as a social process</li> 
  <li> Adaptive experimental design </li>
  <li> Statistical decision theory </li>
  <li> Empirical Bayes methods </li>
  <li> Identification and causality </li>
  <li> Economic inequality and (optimal) taxation. </li> 
</ul>

<hr>
Upcoming conference announcement:
<p><a href="/home/ML_inequality_conference/">Machine learning and economic inequality </a></p>


<!--
<hr>
This website includes:
<ul>
  <li> Manuscripts and presentation slides for my papers.</li>
  <li> Syllabi, slides, and readers for my classes, an open online textbook on economic inequality, a collection of computational ressources for economists.</li>
  <li> Links to my op-eds.</li>
  <li> Source-code and interactive apps implementing methods proposed in my research (for optimal experimental design, estimating publication bias, optimal policy choice using machine learning, etc.)</li>
</ul>


-->
    

