---
layout: archive
---


<p><a href="/files/kasycv.pdf">Curriculum Vitae</a></p>


 Research interests:
<ul>
  <li> econometric methods for the analysis of economic inequality</li>
  <li> experimental design</li>
  <li> publication bias</li>
  <li> the role of economic theory in estimation</li>
  <li> machine learning, empirical Bayes, statistical decision theory</li>
  <li> optimal policy choice and econometrics</li>
  <li> identification and parameters of interest in microeconometrics </li>
</ul>

    

